MMS/Service References/WriteStockErrorService/WriteStockErrorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax262="http://requestinfo.outstock.htyy.nc/xsd" xmlns:ax261="http://writestockerror.requestinfo.outstock.htyy.nc/xsd" xmlns:ax266="http://responseinfo.outstock.htyy.nc/xsd" xmlns:ax265="http://writestockerror.responseinfo.outstock.htyy.nc/xsd" xmlns:ns="http://WriteStockErrorService/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:axis2="http://WriteStockErrorService/" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://WriteStockErrorService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>WriteStockErrorService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://responseinfo.outstock.htyy.nc/xsd">
      <xs:complexType name="OutStockResponseBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefString5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble8" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble9" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble6" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble7" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble4" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble5" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returnResult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble10" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="errorInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString10" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax263="http://requestinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://writestockerror.requestinfo.outstock.htyy.nc/xsd">
      <xs:import namespace="http://requestinfo.outstock.htyy.nc/xsd" />
      <xs:complexType name="WriteStockErrorParam">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:OutStockParamBaseInfo">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="writeStockErrorRequestBillInfo" nillable="true" type="ax261:WriteStockErrorParamBillInfo" />
              <xs:element minOccurs="0" name="row_Count" nillable="true" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="WriteStockErrorParamBillInfo">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:OutStockParamVdefdocInfo">
            <xs:sequence>
              <xs:element minOccurs="0" name="cgeneralBid" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="data_Class" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="error_MsgInfo" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax267="http://responseinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://writestockerror.responseinfo.outstock.htyy.nc/xsd">
      <xs:import namespace="http://responseinfo.outstock.htyy.nc/xsd" />
      <xs:complexType name="WriteStockErrorResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ax267:OutStockResponseBaseInfo">
            <xs:sequence>
              <xs:element minOccurs="0" name="userSysBillBid" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="userSysBillHid" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax264="http://writestockerror.requestinfo.outstock.htyy.nc/xsd" xmlns:ax268="http://writestockerror.responseinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://WriteStockErrorService/xsd">
      <xs:import namespace="http://writestockerror.requestinfo.outstock.htyy.nc/xsd" />
      <xs:import namespace="http://writestockerror.responseinfo.outstock.htyy.nc/xsd" />
      <xs:element name="writeStockErrorInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="writestockerrorparaminfo" nillable="true" type="ax264:WriteStockErrorParam" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeStockErrorInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax268:WriteStockErrorResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://requestinfo.outstock.htyy.nc/xsd">
      <xs:complexType name="OutStockParamBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefString1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerSysPort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="customerSysCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerSyspwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefInteger3" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="customerSysIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefInteger1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vdefInteger2" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutStockParamVdefdocInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefdou9" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou8" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="userSysBillBid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefdou7" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou6" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou5" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou4" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefstr10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefdou2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou10" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="userSysBillHid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr4" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="writeStockErrorInfoRequest">
    <wsdl:part name="parameters" element="ns:writeStockErrorInfo" />
  </wsdl:message>
  <wsdl:message name="writeStockErrorInfoResponse">
    <wsdl:part name="parameters" element="ns:writeStockErrorInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="WriteStockErrorServicePortType">
    <wsdl:operation name="writeStockErrorInfo">
      <wsdl:input wsaw:Action="urn:writeStockErrorInfo" message="axis2:writeStockErrorInfoRequest" />
      <wsdl:output wsaw:Action="urn:writeStockErrorInfoResponse" message="axis2:writeStockErrorInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WriteStockErrorServiceSoap11Binding" type="axis2:WriteStockErrorServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeStockErrorInfo">
      <soap:operation soapAction="urn:writeStockErrorInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WriteStockErrorServiceSoap12Binding" type="axis2:WriteStockErrorServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeStockErrorInfo">
      <soap12:operation soapAction="urn:writeStockErrorInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WriteStockErrorServiceHttpBinding" type="axis2:WriteStockErrorServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="writeStockErrorInfo">
      <http:operation location="WriteStockErrorService/writeStockErrorInfo" />
      <wsdl:input>
        <mime:content part="writeStockErrorInfo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="writeStockErrorInfo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WriteStockErrorService">
    <wsdl:port name="WriteStockErrorServiceHttpSoap11Endpoint" binding="axis2:WriteStockErrorServiceSoap11Binding">
      <soap:address location="http://10.16.130.79:7000/ufidasrv/services/WriteStockErrorService.WriteStockErrorServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WriteStockErrorServiceHttpSoap12Endpoint" binding="axis2:WriteStockErrorServiceSoap12Binding">
      <soap12:address location="http://10.16.130.79:7000/ufidasrv/services/WriteStockErrorService.WriteStockErrorServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WriteStockErrorServiceHttpEndpoint" binding="axis2:WriteStockErrorServiceHttpBinding">
      <http:address location="http://10.16.130.79:7000/ufidasrv/services/WriteStockErrorService.WriteStockErrorServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>