MMS/Web References/k2Pre/K2WebServiceForMMSPre.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StartPreparesProgress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataHead" type="tns:PreparesMarerialsHeadModel" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBodyList" type="tns:ArrayOfPreparesMarerialsBodyModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PreparesMarerialsHeadModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProcessInstID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmitDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeptApproveAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TecApproveAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PlanApproveAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Is_Del" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPreparesMarerialsBodyModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PreparesMarerialsBodyModel" nillable="true" type="tns:PreparesMarerialsBodyModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PreparesMarerialsBodyModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProcessInstID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DrawingNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DemandNumSum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MatUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoughSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoughSpec" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DemandDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecialNeeds" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecretLevel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Stage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UseDes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Certification" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaterialDept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Material_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartPreparesProgressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StartPreparesProgressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProcessInst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Head" type="tns:PreparesMarerialsHeadModel" />
            <s:element minOccurs="1" maxOccurs="1" name="OnlyProcess" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProcessInstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteProcessInstResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApproveHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Head" type="tns:PreparesMarerialsHeadModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApproveHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApproveHeaderResult" type="tns:ApproveInfoHead" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApproveInfoHead">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProcessInstID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MMS_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AppState" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovingActivity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovingUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovingUserDept" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetApproveBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Head" type="tns:PreparesMarerialsHeadModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApproveBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApproveBodyResult" type="tns:ArrayOfApproveInfoBody" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfApproveInfoBody">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApproveInfoBody" nillable="true" type="tns:ApproveInfoBody" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApproveInfoBody">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ActivityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApproveLeaderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApproveLeaderDept" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApproveTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartPreparesProgressSoapIn">
    <wsdl:part name="parameters" element="tns:StartPreparesProgress" />
  </wsdl:message>
  <wsdl:message name="StartPreparesProgressSoapOut">
    <wsdl:part name="parameters" element="tns:StartPreparesProgressResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProcessInstSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProcessInst" />
  </wsdl:message>
  <wsdl:message name="DeleteProcessInstSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProcessInstResponse" />
  </wsdl:message>
  <wsdl:message name="GetApproveHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:GetApproveHeader" />
  </wsdl:message>
  <wsdl:message name="GetApproveHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:GetApproveHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="GetApproveBodySoapIn">
    <wsdl:part name="parameters" element="tns:GetApproveBody" />
  </wsdl:message>
  <wsdl:message name="GetApproveBodySoapOut">
    <wsdl:part name="parameters" element="tns:GetApproveBodyResponse" />
  </wsdl:message>
  <wsdl:portType name="K2WebServiceForMMSPreSoap">
    <wsdl:operation name="StartPreparesProgress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发起需求备料清单审批新流程</wsdl:documentation>
      <wsdl:input message="tns:StartPreparesProgressSoapIn" />
      <wsdl:output message="tns:StartPreparesProgressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessInst">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除流程</wsdl:documentation>
      <wsdl:input message="tns:DeleteProcessInstSoapIn" />
      <wsdl:output message="tns:DeleteProcessInstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApproveHeader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取审批信息头部</wsdl:documentation>
      <wsdl:input message="tns:GetApproveHeaderSoapIn" />
      <wsdl:output message="tns:GetApproveHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApproveBody">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取审批信息内容</wsdl:documentation>
      <wsdl:input message="tns:GetApproveBodySoapIn" />
      <wsdl:output message="tns:GetApproveBodySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="K2WebServiceForMMSPreHttpGet" />
  <wsdl:portType name="K2WebServiceForMMSPreHttpPost" />
  <wsdl:binding name="K2WebServiceForMMSPreSoap" type="tns:K2WebServiceForMMSPreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartPreparesProgress">
      <soap:operation soapAction="http://tempuri.org/StartPreparesProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessInst">
      <soap:operation soapAction="http://tempuri.org/DeleteProcessInst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveHeader">
      <soap:operation soapAction="http://tempuri.org/GetApproveHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveBody">
      <soap:operation soapAction="http://tempuri.org/GetApproveBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="K2WebServiceForMMSPreSoap12" type="tns:K2WebServiceForMMSPreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartPreparesProgress">
      <soap12:operation soapAction="http://tempuri.org/StartPreparesProgress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProcessInst">
      <soap12:operation soapAction="http://tempuri.org/DeleteProcessInst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveHeader">
      <soap12:operation soapAction="http://tempuri.org/GetApproveHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApproveBody">
      <soap12:operation soapAction="http://tempuri.org/GetApproveBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="K2WebServiceForMMSPreHttpGet" type="tns:K2WebServiceForMMSPreHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="K2WebServiceForMMSPreHttpPost" type="tns:K2WebServiceForMMSPreHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="K2WebServiceForMMSPre">
    <wsdl:port name="K2WebServiceForMMSPreSoap" binding="tns:K2WebServiceForMMSPreSoap">
      <soap:address location="http://k2:8005/K2WebServiceForMMSPre.asmx" />
    </wsdl:port>
    <wsdl:port name="K2WebServiceForMMSPreSoap12" binding="tns:K2WebServiceForMMSPreSoap12">
      <soap12:address location="http://k2:8005/K2WebServiceForMMSPre.asmx" />
    </wsdl:port>
    <wsdl:port name="K2WebServiceForMMSPreHttpGet" binding="tns:K2WebServiceForMMSPreHttpGet">
      <http:address location="http://k2:8005/K2WebServiceForMMSPre.asmx" />
    </wsdl:port>
    <wsdl:port name="K2WebServiceForMMSPreHttpPost" binding="tns:K2WebServiceForMMSPreHttpPost">
      <http:address location="http://k2:8005/K2WebServiceForMMSPre.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>