MMS/Service References/ReturnApplyService/ReturnApplyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax250="http://responseinfo.outstock.htyy.nc/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax246="http://requestinfo.outstock.htyy.nc/xsd" xmlns:ax245="http://returnapply.requestinfo.outstock.htyy.nc/xsd" xmlns:ax249="http://returnapply.responseinfo.outstock.htyy.nc/xsd" xmlns:ns="http://ReturnApplyService/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:axis2="http://ReturnApplyService/" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ReturnApplyService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>ReturnApplyService</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax247="http://requestinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://returnapply.requestinfo.outstock.htyy.nc/xsd">
      <xs:import namespace="http://requestinfo.outstock.htyy.nc/xsd" />
      <xs:complexType name="ReturnApplyParam">
        <xs:complexContent mixed="false">
          <xs:extension base="ax247:OutStockParamBaseInfo">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="returnApplyRequestBillinfo" nillable="true" type="ax245:ReturnApplyParamBillinfo" />
              <xs:element minOccurs="0" name="row_Count" nillable="true" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ReturnApplyParamBillinfo">
        <xs:complexContent mixed="false">
          <xs:extension base="ax247:OutStockParamVdefdocInfo">
            <xs:sequence>
              <xs:element minOccurs="0" name="cgeneralbid" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="distraddress" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="accountcorp" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="billno" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="replacecorp" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="itemnum" nillable="true" type="xs:decimal" />
              <xs:element minOccurs="0" name="replacedept" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="pk_Zrr" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="returnnote" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="billdate" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="invcode" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="cgeneralhid" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="jc_Phone" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="nnum" nillable="true" type="xs:decimal" />
              <xs:element minOccurs="0" name="replaceuser" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="accountmode" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://responseinfo.outstock.htyy.nc/xsd">
      <xs:complexType name="OutStockResponseBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefString5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble8" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble9" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble6" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble7" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble4" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble5" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefString8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="returnResult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble10" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="errorInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString10" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax251="http://responseinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://returnapply.responseinfo.outstock.htyy.nc/xsd">
      <xs:import namespace="http://responseinfo.outstock.htyy.nc/xsd" />
      <xs:complexType name="ReturnApplyResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="ax251:OutStockResponseBaseInfo">
            <xs:sequence>
              <xs:element minOccurs="0" name="billNo" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="userSysBillBid" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="userSysBillHid" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://requestinfo.outstock.htyy.nc/xsd">
      <xs:complexType name="OutStockParamBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefString1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefString2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerSysPort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefDouble2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefDouble1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="customerSysCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customerSyspwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefInteger3" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="customerSysIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefInteger1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="vdefInteger2" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutStockParamVdefdocInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vdefdou9" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou8" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="userSysBillBid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefdou7" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou6" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou5" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou4" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou3" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefstr10" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefdou2" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou1" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="vdefdou10" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="userSysBillHid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr7" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr6" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr9" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr8" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vdefstr4" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax248="http://returnapply.requestinfo.outstock.htyy.nc/xsd" xmlns:ax252="http://returnapply.responseinfo.outstock.htyy.nc/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ReturnApplyService/xsd">
      <xs:import namespace="http://returnapply.requestinfo.outstock.htyy.nc/xsd" />
      <xs:import namespace="http://returnapply.responseinfo.outstock.htyy.nc/xsd" />
      <xs:element name="returnApplyInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="returnapplyparaminfo" nillable="true" type="ax248:ReturnApplyParam" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="returnApplyInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax252:ReturnApplyResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="returnApplyInfoRequest">
    <wsdl:part name="parameters" element="ns:returnApplyInfo" />
  </wsdl:message>
  <wsdl:message name="returnApplyInfoResponse">
    <wsdl:part name="parameters" element="ns:returnApplyInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ReturnApplyServicePortType">
    <wsdl:operation name="returnApplyInfo">
      <wsdl:input wsaw:Action="urn:returnApplyInfo" message="axis2:returnApplyInfoRequest" />
      <wsdl:output wsaw:Action="urn:returnApplyInfoResponse" message="axis2:returnApplyInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReturnApplyServiceSoap11Binding" type="axis2:ReturnApplyServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnApplyInfo">
      <soap:operation soapAction="urn:returnApplyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReturnApplyServiceSoap12Binding" type="axis2:ReturnApplyServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnApplyInfo">
      <soap12:operation soapAction="urn:returnApplyInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReturnApplyServiceHttpBinding" type="axis2:ReturnApplyServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="returnApplyInfo">
      <http:operation location="ReturnApplyService/returnApplyInfo" />
      <wsdl:input>
        <mime:content part="returnApplyInfo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="returnApplyInfo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReturnApplyService">
    <wsdl:port name="ReturnApplyServiceHttpSoap11Endpoint" binding="axis2:ReturnApplyServiceSoap11Binding">
      <soap:address location="http://10.16.130.79:7000/ufidasrv/services/ReturnApplyService.ReturnApplyServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ReturnApplyServiceHttpSoap12Endpoint" binding="axis2:ReturnApplyServiceSoap12Binding">
      <soap12:address location="http://10.16.130.79:7000/ufidasrv/services/ReturnApplyService.ReturnApplyServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ReturnApplyServiceHttpEndpoint" binding="axis2:ReturnApplyServiceHttpBinding">
      <http:address location="http://10.16.130.79:7000/ufidasrv/services/ReturnApplyService.ReturnApplyServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>